/* Corpo da página */
body {
  width: 100%;
  height: 100%;
  margin: auto;
  /* https://www.holidayguru.nl/vakanties/vakantie-malediven-sun-island-resort/ */
  /* URL background-image */
  background: url(Tropical-paradise.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: white;
  line-height: 1.5;
}

.navbar-dark {
  color: #ffffff;
}

.bi-facebook, .bi-whatsapp, .bi-instagram {
  color: #7171f1;
}

.navbar {
  background-color: #35355c;
}

.container-fluid-top {
  margin: 2%;
}

.onelogo, .twologo {
  width: 15%;
  border-radius: 50%;
}

.twologo {
  position: absolute;
  justify-content: center;
  left: 10em;
  width: 14%;
}

#sub {
  text-align: center;
  right: 10em;
}

/* Form pesquisar */
.d-flex {
  position: absolute;
  max-width: 50%;
  right: 11%;
  top: 5em;
}

/* start do titulo, subtitulo e imagem do mapa */
.clearfix {
  background-color: #ffffff;
  margin-top: 0;
}

.img-plan {
  float: right;  
}

/* Dimensões das imagens carousel */
.container-inner img {
  width: 100%;
  height: 100%;
}

/* Conteiner com slides */
.container-carousel {
  border: 15px solid white;
}

/* Bloco de cards */
.album {
  margin-top: 5%;
  padding-right: 2rem;
  align-items: center;
  border: 10px solid #ffffff;
  display: flex;
  flex-wrap: wrap;
}

/* Apresentação da página */
.container_top {
  margin-bottom: 5%;
  text-align: center;
}

/* Título */
.titlepage {
  text-align: center;
  height: 10vh;
  font-family: EB Garamond;
  margin: 0;
  color: rgb(0, 0, 0);
  border-radius: 5rem;
}

.row {
  justify-content: space-between;
}

/* Titulo e texto dos cards */
.card-title {
  color: black;
  font-family: Lora;
}

/* Texto dos cards em blocos  */
.card-text {
  color: black; 
  display: -webkit-box; 
  -webkit-line-clamp: 8; /* Quantidade de linhas */
  -webkit-box-orient: vertical; /* A forma que o conteúdo será mostrado */
  overflow: hidden; /* Remove a quantidade de linhas */
  text-overflow: ellipsis; /* adiciona os três pontos "..." no final do texto */
  font-family: Orelega One;
}

/* Contem os pontos turísticos */
.card {
  border-color: #35355c;
  background-color: #ffffffd1;

  transition: 0.3s ease; /* Velocidade de mudança */
  cursor: pointer; /* Ação de passar o mouse */

  margin-top: 4rem;
}

/* Ao passar o mouse sobre os cards */
.card:hover {
  transform: scale(1.1);
  box-shadow: 15px 25px 10px #7171f1;
}

/* Conteiner... */
.container-fluid-card {
  padding-top: 0.25rem;
  padding-bottom: 3.25rem;
  padding-left: 3.25rem;
}

/* Imagens do carousel */
#slides{
  max-height: 500px;
  overflow: hidden;
}

/* Itens do carousel */
.carousel-item img{
  height: 100%;  
  width: 100%;  
  position:relative;
  top:.5;
}

/* Imagem dos cards em blocos */
.card-img {
  margin: auto;
}

.container-fluid-btn {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

/* Rodapé */
.container-fluid-footer {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-top: 30rem;
  border-style: none;
  color: #ffffff;
  background-color: #35355c;
}
