* { /* configuração inicial do site */
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/* Corpo da página */
body {
  width: 100%;
  height: 100%;
  margin: auto;
  /* https://www.holidayguru.nl/vakanties/vakantie-malediven-sun-island-resort/ */
  /* URL background-image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: white;
  line-height: 1.5;
}

.navbar-dark {
 height: 50px;
}

.bi-facebook {
  color: white;
  margin-right: 20px;
  margin-top: 5px;
}

.bi-whatsapp {
   color: white;
   margin-right: 20px;
   margin-top: 5px;
}

.bi-instagram {
  color: white;
  margin-right: 60px;
  margin-top: 5px;
}

.navbar {
  background-color: #54B7DE;
}

.navbar  .container-fluid-top{
  height: 60px;
}

.navbar .nav-list li{
   margin-top: 10px;
}

.container-fluid-top {
  margin: 2%;
  height: 120px;
}

.onelogo, .twologo {
  width: 7.8%;
  border-radius: 50%;
  margin-top: -30px;
}

.twologo {
  position: absolute;
  justify-content: center;
  left: 10em;
  width: 7%;
}

#sub {
  text-align: center;
  right: 10em;
}

/*----menu-----*/
.nav-list {
  color:white;
  float:right;
  display: flex;
  font-size: 20px;
  padding: 25px;
  margin-top: 25px;

}

.nav-list ul{
  margin-top: 50px;
}

.nav-list li{
  list-style: none;  
}

.nav-list a{
  text-decoration: none;
  color: white;
  margin-left: 25px;
  list-style: none;
}

.nav-list a:hover{
  list-style: none;
  color: silver;
  text-decoration: none;
}

/* start do titulo, subtitulo e imagem do mapa */
.clearfix {
  background-color: #ffffff;
  margin-top: 0;
}

.img-plan {
  float: right;  
}

/* Dimensões das imagens carousel */
.container-inner img {
  width: 100%;
  height: 100%;
}

/* Conteiner com slides */
.container-carousel {
  border: 15px solid white;
}

/* Bloco de cards */
.album {
  margin-top: 5%;
  padding-right: 2rem;
  align-items: center;
  border: 10px solid #ffffff;
  display: flex;
  flex-wrap: wrap;
}

/* Apresentação da página */
.container_top {
  margin-bottom: 5%;
  text-align: center;
}

/* Título */
.titlepage {
  text-align: center;
  height: 10vh;
  font-family: EB Garamond;
  margin: 0;
  color: rgb(0, 0, 0);
  border-radius: 5rem;
}

.row {
  justify-content: space-between;
}

/* Cards animados */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:#161623;
  border-radius: 25px 25px;
  box-shadow: 1px 1px;
  background-image: url(Tropical-paradise.jpg);
  
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400em;
  flex-wrap: wrap;
  z-index: 1;
}

.container .card{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container .card .content{
  padding: 20px;
  text-align: center;
  transform: translatey(100px);
  transition: 0.5s;
}

.container .card:hover .content{
  transform: translateY(0px);
  opacity: 1;
}

.container .card .content h2{
  position:absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.005);
  pointer-events: none;
}

.container .card .content h3{
  font-size: 1.8em;
  color:#fff;
  z-index: 1;
}

.container .card .content p{
  font-size: 1em;
  color:#fff;
  font-weight: 300;
}

.container .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color:#000;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


/* Imagens do carousel */
#slides{
  max-height: 500px;
  overflow: hidden;
}

/* Itens do carousel */
.carousel-item img{
  height: 100%;  
  width: 100%;  
  position:relative;
  top:.5;
}



/* Rodapé */
.container-fluid-footer {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-top: 30rem;
  border-style: none;
  color: #ffffff;
  background-color: #064F6B;
  line-height: 10px;
  text-align: center;
}
