@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700;1,800&family=Roboto:ital,wght@1,100&display=swap');
* { /* configuração inicial do site */
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/* Corpo da página */
body {
  width: 100%;
  height: 100%;
  margin: auto;
  /* https://www.holidayguru.nl/vakanties/vakantie-malediven-sun-island-resort/ */
  /* URL background-image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: white;
  line-height: 1.5;
}

/* Cabeçalho - Start */
.navbar-dark { /* Primeiro Cabeçalho */
  color: white;
  display: none;  
}
.bi-instagram {
  color: white;
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.bi-facebook {
  color: white;
  height: 30px;
  width: 30px;
  margin-left: 50px;
} 

.bi-whatsapp {
  color:white;
  height: 30px;
  width: 30px;
  margin-left: 20px;
}
.navbar-dark p {
font-family: 'Roboto', sans-serif;
}

.navbar-expand-lg {
  background-color: #54B7DE;
  width: 100%;
  padding-left: 2em;
}
.logoRV { /*logo do site */
  width: 250px;
  height: 110px;
  border-radius: 50px 50px;
  margin-right: 300px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.start::after, .buy::after, .sell::after, .contact::after, .login::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(200,184,189,0) 0%,rgba(200,184,189,0.8) 20%,rgba(200,184,189,1)
  53%,rgba(200,184,189,0.8) 79%,rgba(200,184,189,0) 100%);
  transition: all 0.2s ease-in-out;
}

.start, .buy, .sell, .contact, .login {
  color:white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s ease-in-out;
}

.start:hover, .buy:hover, .sell:hover, .contact:hover, .login:hover {
  transform: scale(1.2);

  text-decoration: none;
  color: silver;
}
/* Cabeçalho - End */

/*Menu Responsivo */ 
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
   
  #navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #54B7DE;
    height: 8em;
  }
  
  main {
    background: url() no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list { /* botões no cabeçalho */
    list-style: none; /* remove o formato de lista */
    display: flex; /* para deixar lado a lado */
    margin: 0;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.2s ease-in-out;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
  
@media (max-width: 765px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 20vw;
    height: 60vh;
    background: #54B7DE;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    border-bottom-left-radius: 15px;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    margin-right: 4em;
  }
}
  
.nav-list.active {
  transform: translateX(0);
}
  
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

/*---------------fim do header ------------*/

/* start do titulo, subtitulo e imagem do mapa */
.clearfix {
  background-color: #ffffff;
  color: #54B7DE;
  text-align: center;
  margin-top:150px;
}
.clearfix > h1 {
  font-family: 'Montserrat', sans-serif;
  color: #54B7DE;
  text-align: center;
}

.clearfix > h4 {
  font-family: 'Montserrat', sans-serif;
  color: #54B7DE;
  text-align: center;
  margin-top: 20px;
}

.img-plan {
  float: right;  
}

/* Dimensões das imagens carousel */
.container-inner img {
  width: 100%;
  height: 100%;
}

/* Conteiner com slides */
.container-carousel {
  border: 15px solid white;
}

/* Bloco de cards */
.album {
  margin-top: 5%;
  padding-right: 2rem;
  align-items: center;
  border: 10px solid #ffffff;
  display: flex;
  flex-wrap: wrap;
}

/* Apresentação da página */
.container_top {
  margin-bottom: 5%;
  text-align: center;
}

/* Título */
.titlepage {
  text-align: center;
  height: 10vh;
  font-family: EB Garamond;
  margin: 0;
  color: rgb(0, 0, 0);
  border-radius: 5rem;
}

.row {
  justify-content: space-between;
}
aside h2 {
  text-align: center;
  margin-top: 50px;
}

/* Cards animados */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:#161623;
  border-radius: 25px 25px;
  box-shadow: 1px 1px;
  border: orange groove 3px; 
  background: url(/img/homem.aeroport.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 400em;
  flex-wrap: wrap;
  z-index: 1;
  margin-top: 50px;
}

.container .card{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black; 
}

.container .card .content{
  padding: 20px;
  text-align: center;
}

.container .card .content h4{
  font-size: 20px;
  color: black;
  z-index: 1;
  margin-top: 35px;
  background-color: white;
  border-radius: 15px;
}

.container .card .content p{
  font-size: 18px;
  color: white;
  border-radius: 25px;
  font-weight: 300;
  margin-top: 50px;
}

.container .card .content p {

}


.container .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: linear-gradient(to right, #3E8AFF, #BBDEFF);
  color:black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  
}
.container .card .content a strong{
  color: white;
}

.card .content {
  background: url(/img/primeira.classe.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-position: center;
  height: 100%;
}

/*Card animado 2 */

.container .card .content-1{
  padding: 20px;
  text-align: center;
}

.container .card .content-1 h4{
  font-size: 20px;
  color: black;
  z-index: 1;
  margin-top: 35px;
  background-color: white;
  border-radius: 15px;
}

.container .card .content-1 p{
  font-size: 18px;
  color: white;
  font-weight: 300;
  margin-top: 50px;
}

.container .card .content-1 a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: linear-gradient(to right, #3E8AFF, #BBDEFF);
  color:black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  top: 45px;
}
.container .card .content-1 a strong{
  color: white;
}

.card .content-1 {
  background: url(/img/classeexecutiva.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-position: center;
  height: 100%;
}
/*card animado 3 */

.container .card .content-2{
  padding: 20px;
  text-align: center;
}

.container .card .content-2 h4{
  font-size: 20px;
  color: black;
  z-index: 1;
  margin-top: 35px;
  background-color: white;
  border-radius: 15px;
}

.container .card .content-2 p{
  font-size: 18px;
  color: white;
  font-weight: 300;
  margin-top: 50px;
}

.container .card .content-2 a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: linear-gradient(to right, #3E8AFF, #BBDEFF);
  color:black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  top: 45px;
}
.container .card .content-2 a strong{
  color: white;
}

.card .content-2 {
  background: url(/img/classeeconomica1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-position: center;
  height: 100%;
}

/*formas de pagamento cartoes da pagina inicial*/
       
.formapg {
   text-align: center;
   margin-top: 100px;  
}

.formapg > h2 {
  color:red;
}

.formapg > p {
  color:black;
}

.formapg img{
    width: 500px; 
}


/*cards das regras*/

main.cards-full {
  display: flex;
  padding: 32px;
  margin-top: 120px;
  justify-content:center;

  }
main.cards-full section.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 300px;
  margin-left: 32px;
  transform:none;
}

main.cards-full section.cards:first-child {
  margin-left: 0;
}

main.cards-full section.cards .icon {
  width: 64px;
  height: 64px;
}

main.cards-full section.cards h3 {
  font-size: 100%;
  margin: 16px 0;
}

main.cards-full section.cards span {
  font-weight: 300;
  max-width: 240px;
  font-size: 80%;
  margin-bottom: 16px;
}

main.cards-full section.cards button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px 0;
}

main.cards-full section.cards.contacts button {
  background: linear-gradient(to right, #9F66FF, #DFCBFF);
}
main.cards-full section.cards.shop button {
  background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}
main.cards-full section.cards.about button {
  background: linear-gradient(to right, #FE5F8F, #FFC7D9);
}

main.cards-full section.cards.contacts {
  box-shadow: 1px 1px 3px 1px black;
}

main.cards-full section.cards.contacts{
  font-size: 18px;
}

main.cards-full section.cards.shop {
  box-shadow: 1px 1px 3px 1px black;
}


main.cards-full section.cards.shop {
  font-size: 18px;
}

main.cards-full section.cards.about {
  box-shadow: 1px 1px 3px 1px black;
}

main.cards-full section.cards.about {
  font-size: 18px;
}

@media screen and (max-width: 720px) {
  main.cards-full {
      flex-direction: column;
  }

  main.cards-full section.cards {
      margin-left: 0;
      margin-bottom: 32px;
  }

  main.cards-full section.cards:last-child {
      margin-bottom: 0;
  }

  main.cards-full section.cards button {
      font-size: 70%;
  }

}

.middle{
  position: absolute;
  top: 150em;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 10px #c2bfbf;
  border-radius: 0.5em;
}

.previsao {
  position: relative;
  font-family: "montserrat";
  text-decoration: none;
  border: 2px solid #4ab3c6;
  overflow: hidden;
  transition: 1s all ease;
}

.previsao::before {
  background: #4ab3c6;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.previsao::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.previsao:hover::before{
  height: 380%;
}

/* Rodapé */
.container-fluid-footer {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-top: 30rem;
  border-style: none;
  color: #ffffff;
  background-color: #45A0C4;
  line-height: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
}

.container-fluid-footer a{
  color: white;
  list-style: none;
 
}

.container-fluid-footer:hover a{
  color: greenyellow;

}

/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
  width:10px;
  height: 10px;
  }
   
  /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
  ::-webkit-scrollbar-track {
  background:#333;
  }
   
  /* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
  ::-webkit-scrollbar-thumb {
  background: #2e9dd8;
  }


  /* degrade para a barra vertical */
::-webkit-scrollbar-thumb {
  background: #2e9dd8;
  background: -moz-linear-gradient(top, #333333 0%, #3f69b1 25%, #2e9dd8 50%, #3f69b1 76%, #333333 100%);
  background: -webkit-linear-gradient(top, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
  background: linear-gradient(to bottom, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
  }
   
  /* degrade para a barra horizontal com a direção do degrade alterada */
  ::-webkit-scrollbar-thumb:horizontal {
  background: #2e9dd8;
  background: -moz-linear-gradient(left, #333333 0%, #3f69b1 25%, #2e9dd8 50%, #3f69b1 76%, #333333 100%);
  background: -webkit-linear-gradient(left, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
  background: linear-gradient(to right, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
  }

  .scroll::-webkit-scrollbar {
    width:10px;
    height: 10px;
    }
     
    .scroll::-webkit-scrollbar-track {
    background:#333;
    }
     
    .scroll::-webkit-scrollbar-thumb {
    background: #2e9dd8;
    }